/.DS_Store
/.RData
/.Rhistory
/.Rproj.user
/Final.html
/Final.pdf
/HW1.html
/HW1.pdf
/HW2.html
/HW2.pdf
/HW3.html
/HW3.pdf
/HW4.html
/HW4.pdf
/HW5.html
/HW5.pdf
/IMG_6860.png
/IMG_6861.png
/MiniProject.html
/MiniProject.pdf
/Stat457.Rproj
/pca-scratch.R